.progressBarContainer {
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
    display: block;
  }
  
  .progressBackground {
    background-color: #333; /* Dark background */
    border-radius: 5px;
    height: 10px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .progress {
    height: 100%;
    background-color: #ff6600; /* Orange color */
    transition: width 3s ease; /* Smooth transition */
    border-radius: 5px;
  }
  