@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
  /* border: 1px solid red; */
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: fit-content;
}
/* portfolio_site/app/globals.css */
.btn {
  @apply px-4 py-2 font-bold text-white rounded; /* Base styles for buttons */
}

.btn-primary {
  @apply bg-primary hover:bg-orange-600; /* Primary button styles */
}

.btn-secondary {
  @apply bg-secondary hover:bg-blue-600; /* Secondary button styles */
}
.btn-neutral{
  @apply text-black bg-slate-100 hover:bg-slate-300;
}

.btn-tertiary {
  @apply bg-tertiary hover:bg-green-600; /* Tertiary button styles */
}
/* Adjust glass-effect for smoother transition */
.glass-effect {
  backdrop-filter: blur(10px);
  background-color: rgba(51, 49, 49, 0.3);
  transition: background-color 0.3s ease, max-height 0.7s ease;
  z-index: 999;
  overflow: hidden;
}

.head-text{
  font-size: 65px;
  font-weight: 600;
  line-height: 97.5px;
}
/* styles.css or your component's CSS file */
.slide-in {
  animation: slideIn 1s ease forwards;
}

.slide-out {
  animation: slideOut 1s ease forwards;
}

@keyframes slideIn {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateY(0);
      opacity: 1;
  }
  to {
      transform: translateY(50px);
      opacity: 0;
  }
}
/* styles.css or your component's CSS file */
.slide-in-left {
  animation: slideInLeft 1s ease forwards;
}

.slide-out-left {
  animation: slideOutLeft 1s ease forwards;
}

.slide-in-right {
  animation: slideInRight 1s ease forwards;
}

.slide-out-right {
  animation: slideOutRight 1s ease forwards;
}

@keyframes slideInLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(-100%);
      opacity: 0;
  }
}

@keyframes slideInRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}

body {
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.animated-container {
    overflow: hidden; /* Prevent overflow for the container */
}